{% extends "mobile_header.html" %}

{% block body %}

    <!-- page集合的容器，里面放多个平行的.page，其他.page作为内联页面由路由控制展示 -->
    <div class="page-group">

        <!-- 单个page ,第一个.page默认被展示-->
        <div class="page page-current">
            <!-- 标题栏 -->
            <header class="bar bar-nav">
                <a class="icon pull-left open-panel"><img class="avatar-nav"
                                                          src="http://{{ baseurl }}/avatar_{{ g.user.id }}"/></a>
                <a class="icon icon-search pull-right" href="/mobile/search/"></a>
                <h2 class="title">主页</h2>

            </header>

            <!-- 这里是页面内容区 -->
            <div class="content pull-to-refresh-content infinite-scroll" data-distance="100" data-ptr-distance="44">
                <!-- 默认的下拉刷新层 -->
                <div class="pull-to-refresh-layer">
                    <div class="preloader"></div>
                    <div class="pull-to-refresh-arrow"></div>
                </div>

                <div class="content-block" id="card_list">


                </div>

                <!-- 加载提示符 -->
                <div class="infinite-scroll-preloader">
                    <div class="preloader"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- popup, panel 等放在这里 -->
    <div class="panel-overlay"></div>
    <!-- Left Panel with Reveal effect -->
    <div class="panel panel-left panel-reveal">
        <div class="content-block">

            <div class="row">
                <div class="col-5">
                    &nbsp;
                </div>
                <div class="col-30">
                    <img class="avatar-big" src="http://{{ baseurl }}/avatar_{{ g.user.id }}"/>
                </div>
            </div>
            <div class="nickname">{{ g.user.nickname }}</div>
            <div>@{{ g.user.username }}</div>

            <br>

            <div class="row small-font">
                <div class="col-5">
                    &nbsp;
                </div>
                <div class="col-30">
                    <span class="nickname">{{ g.user.followed.count() }}</span> 正在关注
                </div>
                <div class="col-5">&nbsp;</div>
                <div class="col-30">
                    <span class="nickname">{{ g.user.followers.count() }}</span> 关注者
                </div>
            </div>

            <hr class="spliter">

            <br>

            <div class="row small-font">
                <div class="col-5">
                    &nbsp;
                </div>
                <div class="col-20">
                    <a href="/mobile/people/edit_profile/" external><i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i></a>
                </div>
                <div class="col-5">&nbsp;</div>
                <div class="col-30"><a href="/mobile/people/edit_profile/" external>个人资料</a></div>
            </div>

            <br>

            <div class="row small-font">
                <div class="col-5">
                    &nbsp;
                </div>
                <div class="col-20">
                    <i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>
                </div>
                <div class="col-5">&nbsp;</div>
                <div class="col-30">私信 &nbsp;<span class="badge notification">2</span></div>
            </div>

            <!-- Click on link with "close-panel" class will close panel -->
            <p><a href="#" class="close-panel">关闭</a></p>
        </div>
    </div>

    <script>

        var cards = get_followed_message(0, 0);

        $('#card_list').append(cards);

        $(document).on('refresh', '.pull-to-refresh-content', function (e) {

            var new_cards = get_followed_message(window.last, 1);

            $('#card_list').prepend(new_cards);
            // 加载完毕需要重置
            $.pullToRefreshDone('.pull-to-refresh-content');
        });

        var loading = false;

        $(document).on('infinite', '.infinite-scroll', function () {

            // 如果正在加载，则退出
            if (loading) return;

            // 设置flag
            loading = true;

            var old_cards = get_followed_message(window.first, 0);


            if (old_cards) {
                // 添加新条目
                $('#card_list').append(old_cards);
                $.refreshScroller();
                loading = false;

            } else {
                // 加载完毕，则注销无限加载事件，以防不必要的加载
                $.detachInfiniteScroll($('.infinite-scroll'));
                // 删除加载提示符
                $('.infinite-scroll-preloader').remove();
                var endline = "<div class=\"content-block-title row\">" +
                    "<div class='col-40'><hr class='spliter'></div>" +
                    "<div class='col-20'><span class=\"badge\">这里是末尾</span></div>" +
                    "<div class='col-40'><hr class='spliter'></div></div>";
                $('#card_list').append(endline);
            }
        });


        $.init()

    </script>


    <!-- 默认必须要执行$.init(),实际业务里一般不会在HTML文档里执行，通常是在业务页面代码的最后执行 -->

{% endblock %}
