{% extends "mobile_header.html" %}

{% block body %}
    <div class="page-group">
        <!-- 单个page ,第一个.page默认被展示-->

        <div class="page" id="detail">
            <!-- 标题栏 -->
            <header class="bar bar-nav" id="head-nav">
                <a class="icon icon-left pull-left" data-no-cache="true"
                   href="javascript: history.back()"></a>
                <h2 class="title">回复</h2>
                <button class="button button-fill button-success pull-right"
                        onclick="javascript:reply_message({{ messageid }})">
                    回复
                </button>

            </header>

            <nav class="bar bar-tab bar-footer">
                <a class="tab-item external active" href="#">
                    <span class="icon icon-home"></span>
                    <span class="tab-label">文案</span>
                </a>
                <a class="tab-item external" href="#">
                    <span class="icon icon-me"></span>
                    <span class="tab-label">文案</span>
                    <span class="badge">2</span>
                </a>
                <a class="tab-item external" href="#">
                    <span class="icon icon-star"></span>
                    <span class="tab-label">文案</span>
                </a>
                <a class="tab-item external" href="#">
                    <span class="icon icon-cart"></span>
                    <span class="tab-label">文案</span>
                </a>
                <a class="tab-item external" href="#">
                    <span class="icon icon-settings"></span>
                    <span class="tab-label">文案</span>
                </a>
            </nav>

            <!-- 这里是页面内容区 -->
            <div class="content">
                <div class="content-block">

                    <div class="body" id="message_detail">

                    </div>

                    <div id="reply_area"></div>

                    <br>

                    <br>

                    <div>
                        <div class="row">
                            <div class="col-15">
                                <img class="avatar" src="http://{{ baseurl }}/avatar_{{ g.user.id }}">
                            </div>

                            <div class="col-85">
                                <div class="item-input">
                                    <textarea onclick="javascript:scroll_reply_area()" id="textareaContents" rows="20" placeholder="发布回复..."></textarea>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>

        <script>
            get_message_detail_no_bar({{ messageid }});
            $('.content').scrollTop(0);

            setClickHandler('message_detail', function (e) {
                e.target.tagName === 'IMG' && BigPicture({
                    el: e.target,
                    imgSrc: e.target.src
                });
            });

            function scroll_reply_area() {
                var scroll_offset = $("#reply_area").offset();
                $('.content').scrollTop(scroll_offset.top-20);
            }

        </script>

    </div>


{% endblock %}