{% extends "mobile_header.html" %}

{% block body %}

    <div class="page-group">
        <div class="page">
            <div class="content">
                <div class="card demo-card-header-pic">
                    <div valign="bottom" class="card-header color-white no-border no-padding">
                        <div class="back-mark">
                            <a href="javascript: history.back()"><i class="fa fa-chevron-circle-left fa-2x"
                                                                    aria-hidden="true"></i></a>
                        </div>
                        <div class="img-responsive-single"><img
                                src="http://p0j80wqwd.bkt.clouddn.com/msg_img_wA5nN72cfh">
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="card-content-inner" id="user_info">


                        </div>
                    </div>

                    <div class="bar bar-tab" style="position: relative">
                        <a class="tab-item" href="javascript: goto_tab(0)">
                            他的推文
                        </a>
                        <a class="tab-item" href="javascript: goto_tab(1)">
                            他的评论
                        </a>
                        <a class="tab-item" href="javascript: goto_tab(2)">
                            转发与喜爱
                        </a>
                        <a class="tab-item" href="javascript: goto_tab(3)">
                            他的照片
                        </a>
                    </div>

                </div>

                <div class="content-block" id="user_message_list"></div>

            </div>
        </div>
        <script>
            get_user_profile({{ userid }});

            elm = document.getElementById('user_message_list');
            var tab_list = document.getElementsByClassName("tab-item");

            if (!elm.innerHTML) {
                get_user_message(0, 0, {{ userid }});
                tab_list[0].className = "tab-item active-tab";
            }

            function goto_tab(tab_num) {
                window.tab_select=tab_num;
                for (var i = 0; i < tab_list.length; i++) {
                    tab_list[i].className = "tab-item";
                }
                tab_list[tab_num].className = "tab-item active-tab";
                if (tab_num < 3) {
                    get_user_message(0, tab_num, {{ userid }})
                } else {
                    elm.innerHTML = " ";
                    photos = get_user_photos(0, {{ userid }});
                    $('#user_message_list').append(photos);
                    setClickHandler('gallery', function (e) {
                        e.target.tagName === 'IMG' && BigPicture({
                            el: e.target,
                            imgSrc: e.target.src
                        });
                    });
                }
            }

        </script>
    </div>

{% endblock %}