{% extends "mobile_header.html" %}

{% block body %}
    <style type="text/css">

        .avatar {
            width: 1.3rem;
        }

        .time {
            color: darkgray;
            font-size: 0.6rem;
        }

        .card {
            margin-left: 0;
            margin-right: 0;
            width: auto;
        }

        .card-content a {
            color: #464646;
        }

        .content-block {
            margin-top: 0.8rem;
        }

        .item-link {
            margin-left: 1rem;
            margin-right: 1rem;
            border: 1px solid #bbbbbb;
            border-radius: 5px;
            font-size: 0.8rem;
        }

        .media-left {
            margin-left: -0.8rem;
        }

        .img-responsive {
            max-width: 100%;
            height: 5rem;
            padding: 0.1rem;
            padding-bottom: 30%;
            overflow: hidden;
            border-radius: 0.2rem;
        }

        .img-responsive-single {
            max-width: 100%;
            height: 0;
            padding-bottom: 80%;
            overflow: hidden;
            border-radius: 0.2rem;
        }

        .img-responsive img {
            width: 100%;
        }

        .img-responsive-single img {
            width: 100%;
        }


    </style>

    <script>

        String.prototype.format = function () {
            var args = arguments;
            return this.replace(/\{(\d+)\}/g, function (a, num) {
                return args[num] || a
            })
        };

        $.getJSON('/timeline/get_followed_message/', {
            'start': '0'
        }, function (messages) {
            if (messages.num > 0) {
                for (var i = 0; i < messages.message_list.length; i++) {

                    var id = messages.message_list[i].author_id;
                    var message_id = messages.message_list[i].id;
                    var nick_name = messages.message_list[i].nickname;
                    var create_time = moment(messages.message_list[i].time_create).fromNow();
                    var content = messages.message_list[i].body;
                    var comment_count = messages.message_list[i].comment_count;
                    var quote_count = messages.message_list[i].quote_count;
                    var favo_count = messages.message_list[i].favo_count;
                    var images = " ";
                    var quoted = " ";

                    if (messages.message_list[i].images.length > 0) {
                        var img_count = messages.message_list[i].images.length;
                        if (img_count == 1) {
                            var width = " ";
                            var responsive = "img-responsive-single"
                        } else if (img_count == 2) {
                            var width = "col-50";
                            var responsive = "img-responsive"
                        } else if (img_count == 3) {
                            var width = "col-33";
                            var responsive = "img-responsive"
                        } else {
                            var width = "col-50";
                            var responsive = "img-responsive"
                        }
                        for (var j = 0; j < img_count; j++) {
                            image_html = "<div class=\"{0} {1}\"><img src=\"" + messages.message_list[i].images[j] + "\"></div>";
                            images = images + image_html.format(width, responsive);
                        }
                        images = "<div class=\"row no-gutter\">" + images + "</div><br>"
                    }

                    if (messages.message_list[i].quoted) {
                        var quoted_id = messages.message_list[i].quoted.id;
                        var quoted_body = messages.message_list[i].quoted.body;
                        var quoted_author_id = messages.message_list[i].quoted.author_id;
                        var quoted_nickname = messages.message_list[i].quoted.nickname;
                        quoted_image = " ";
                        if (messages.message_list[i].quoted.image) {
                            var image_url = messages.message_list[i].quoted.image;
                            quoted_image = "<div class=\"item-media media-left img-responsive\"><img src=\"{0}\" style='width: 5rem'></div>".format(image_url)
                        }


                        var quoted_html = "<div class=\"list-block media-list\">\n" +
                            "    <ul>\n" +
                            "      <li>\n" +
                            "        <a href=\"/mobile/message/id_{3}\" class=\"item-link external item-content\">\n" +
                            "          {0}<div class=\"item-inner\">\n" +
                            "            <div class=\"item-title-row\">\n" +
                            "              <div class=\"item-title\" style=\"font-size:0.6rem;color: darkgray;\">@{1}</div>\n" +
                            "            </div>\n" +
                            "            <div class=\"item-text\" style=\"font-size:0.6rem\">{2}</div>\n" +
                            "          </div>\n" +
                            "        </a>\n" +
                            "      </li>\n" +
                            "    </ul>\n" +
                            "  </div><br>";

                        var quoted = quoted_html.format(quoted_image, quoted_nickname, quoted_body, quoted_id)
                    }

                    var raw = "<div class=\"card facebook-card\">\n" +
                        "    <div class=\"card-header no-border\">\n" +
                        "      <div class=\"facebook-avatar\"><img src=\"http://{{ baseurl }}/avatar_{0}\" width=\"34\" height=\"34\"></div>\n" +
                        "      <div class=\"facebook-name\">{1} <span class='time'>{2}</span></div>\n" +
                        "    </div>\n" +
                        "    <div class=\"card-content\">" +
                        "       <div class=\"card-content-inner\">" +
                        "      <a href=\"/mobile/message/id_{3}\" class=\"link external item-content\"><div class=\"item-media\">{4}</div><div class=\"item-inner\">{5}</div></a><br>{6}" +
                        "    <div class=\"footer row\">\n" +
                        "      <span class=\"col-20\"> </span>\n" +
                        "      <a href=\"#\" class=\"link col-20\"><i class=\"fa fa-heart-o\" aria-hidden=\"true\"> {7}</i></a>\n" +
                        "      <a href=\"#\" class=\"link col-20\"><i class=\"fa fa-comments-o\" aria-hidden=\"true\"> {8}</i></a>\n" +
                        "      <a href=\"#\" class=\"link col-20\"><i class=\"fa fa-retweet\" aria-hidden=\"true\"> {9}</i></a>\n" +
                        "      <a href=\"#\" class=\"link col-20\"><i class=\"fa fa-envelope-o\" aria-hidden=\"true\"></i></a>\n" +
                        "    </div>\n" +
                        "</div></div>\n" +
                        "  </div>";
                    raw = raw.format(id, nick_name, create_time, message_id, images, content, quoted, favo_count, comment_count, quote_count);
                    var html = $(raw);

                    $("#card_list").append(html);
                }

            }

        });

        $.init()

    </script>

    <!-- page集合的容器，里面放多个平行的.page，其他.page作为内联页面由路由控制展示 -->
    <div class="page-group">
        <!-- 单个page ,第一个.page默认被展示-->
        <div class="page page-current" id="home">
            <!-- 标题栏 -->
            <header class="bar bar-nav" id="head-nav">
                <a class="icon pull-left open-panel"><img class="avatar"
                                                          src="http://{{ baseurl }}/avatar_{{ g.user.id }}"/></a>
                <a class="icon icon-search pull-right" href="#search_page"></a>
                <h2 class="title">主页</h2>

            </header>

            <!-- 这里是页面内容区 -->
            <div class="content">
                <div class="content-block" id="card_list">


                </div>
            </div>
        </div>

        <!-- 其他的单个page内联页（如果有） -->
        <div class="page" id="search_page">
            <header class="bar bar-nav">
                <a class="icon icon-left pull-left" href="#home"></a>
                <h2 class="title">搜索</h2>
            </header>
            <div class="bar bar-header-secondary">
                <div class="searchbar">
                    <a class="searchbar-cancel">取消</a>
                    <div class="search-input">
                        <label class="icon icon-search" for="search"></label>
                        <input type="search" id='search' placeholder='输入关键字...'/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- popup, panel 等放在这里 -->
    <div class="panel-overlay"></div>
    <!-- Left Panel with Reveal effect -->
    <div class="panel panel-left panel-reveal">
        <div class="content-block">
            <a class="tab-item external active" href="#">
                <i class="fa fa-home" aria-hidden="true"></i>
                <span class="tab-label">主页</span>
            </a>
            <br/>
            <a class="tab-item external" href="#">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
                <span class="tab-label">通知</span>
            </a>
            <br/>
            <a class="tab-item external" href="#">
                <i class="fa fa-envelope-open-o" aria-hidden="true"></i>
                <span class="tab-label">私信</span>
            </a>
            <br/>
            <!-- Click on link with "close-panel" class will close panel -->
            <p><a href="#" class="close-panel">关闭</a></p>
        </div>
    </div>


    <!-- 默认必须要执行$.init(),实际业务里一般不会在HTML文档里执行，通常是在业务页面代码的最后执行 -->

{% endblock %}
