.avatar {
    width: 1.5rem;
    border-radius: 50%;
}

.avatar-big {
    width: 2.6rem;
    border-radius: 50%;
}

.avatar-profile{
    margin-top: -3.5rem;
    width: 4rem;
    border-radius: 50%;
    border: 0.2rem solid #ffffff;
}

.time {
    color: darkgray;
    font-size: 0.6rem;
}

.nickname {
    font-weight: bold;
    color: #383f46;
}

.small-font {
    font-size: 0.8rem;
}

.notification {
    background-color: red;
    color: white;
}

.card {
    margin-left: 0;
    margin-right: 0;
    width: auto;
}

.card-content a {
    color: #383f46;
}

a i {
    color: #515da2;
}

.content-block {
    margin-top: 0.8rem;
}

.quote-card {
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 5px;
    font-size: 0.8rem;
     background-color: #c9d2e4;

}

.demo-card-header-pic{
    margin-top:-1rem;
}

.media-left {
    margin-left: -0.8rem;
}

.back-mark{
    position: absolute;
    margin-top: -7rem;
    margin-left: 0.8rem;
    opacity: 0.3;
}

.img-responsive {
    max-width: 100%;
    height: 5rem;
    padding: 0.1rem;
    padding-bottom: 30%;
    overflow: hidden;
    border-radius: 0.2rem;
}

.img-responsive-single {
    max-width: 100%;
    height: 0;
    padding-bottom: 50%;
    overflow: hidden;
    border-radius: 0.2rem;
}

.img-responsive img {
    width: 100%;
}

.img-responsive-single img {
    width: 100%;
}

.spliter {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


#message_replies {
    font-size: 0.7rem;
    margin-left: 1rem;
}

textarea {
    border: 0;
    background-color: transparent;
    /*scrollbar-arrow-color:yellow;
    scrollbar-base-color:lightsalmon;*/
    overflow: hidden;
    color: #666464;
    width: 100%;
    height: auto;
}

.bar-footer ~ .content {
    bottom: 2.2rem;
}